.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    background-color: rgba(105, 105, 105, 0.158);
    border: 2px solid #fff;
    border-radius: 10px;
    width: 50vw;
    height: 40vh;
    margin-top: 3rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(30px) saturate(2);
}

input {
    margin-bottom: 1rem;
    padding: 0.5rem;
}

* { color: #fff;}